## Analysis

In [241]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [242]:
# File to Load (Remember to Change These)
school_data = Path("Resources/schools_complete.csv")
student_data = Path("Resources/students_complete.csv")

In [243]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

In [244]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [245]:
# Calculate the total number of unique schools
school_count =school_data.__len__()
school_count

15

In [246]:
# Calculate the total number of students
student_count = student_data.__len__()
student_count

39170

In [247]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [248]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [249]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [250]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [251]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [252]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [253]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [254]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame([{"Total Schools":[school_count],"Total Students":[student_count], 
                                   "Total Budget":[total_budget], "Average Math Score":[average_math_score], 
                                   "Average Reading Score":[average_reading_score], 
                                   "Percent Passing Math":[passing_math_percentage],
                                   "Percent Passing Reading":[passing_reading_percentage],
                                   "Percent Overall Passing":[overall_passing_rate]}])

# Formatting
#district_summary["Total Schools"] = district_summary[Total Schools].map("{:,}".format)
#district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
#district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
#district_summary["Average Math Score"] = district_summary["Average Math Score"].map("${:,.2f}".format)
#district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("${:,.2f}".format)

#file_df["INCOME"] = file_df["INCOME"].map("${:,.2f}".format)


# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
0,[15],[39170],[24649428],[78.98537145774827],[81.87784018381414],[74.9808526933878],[85.80546336482001],[65.17232575950983]

## School Summary

In [255]:
# Use the code provided to select all of the school types
#District and Charter Schools

school_types = school_data_complete.drop_duplicates(subset=['school_name'])
school_types = school_types.set_index("school_name")["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [256]:
# Calculate the total student count per school
total_student_count =student_data["school_name"].value_counts()
total_student_count

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [257]:
# Calculate the total school budget and per capita spending per school
grouped_school = school_data_complete.groupby(["school_name"])
per_school_budget = grouped_school["budget"].sum()
per_school_budget

per_school_capita = per_school_budget / \
                                    total_student_count * 100
per_school_capita

Total_budget_capita_spending = pd.DataFrame({"Total School Budget": per_school_budget, "Per Capita Spending": per_school_capita})
Total_budget_capita_spending

                       Total School Budget  Per Capita Spending
Bailey High School             15549641728          312492800.0
Cabrera High School             2009159448          108135600.0
Figueroa High School            5557128039          188441100.0
Ford High School                4831365924          176391600.0
Griffin High School             1346890000           91750000.0
Hernandez High School          14007062700          302202000.0
Holden High School               105933149           24808700.0
Huang High School               5573322295          191063500.0
Johnson High School            14733628650          309465000.0
Pena High School                 563595396           58585800.0
Rodriguez High School          10186904637          254736300.0
Shelton High School             1860672600          105660000.0
Thomas High School              1705517550          104313000.0
Wilson High School              3012587442          131957400.0
Wright High School              1888920000          104940000.0

In [258]:
# Calculate the average test scores per school
per_school_math = grouped_school["math_score"].mean()
per_school_math

per_school_reading = grouped_school["reading_score"].mean()
per_school_reading

summarydata = pd.DataFrame ({"Ave Math Score": per_school_math,"Ave Reading Score": per_school_reading})
summarydata

                       Ave Math Score  Ave Reading Score
school_name
Bailey High School          77.048432          81.033963
Cabrera High School         83.061895          83.975780
Figueroa High School        76.711767          81.158020
Ford High School            77.102592          80.746258
Griffin High School         83.351499          83.816757
Hernandez High School       77.289752          80.934412
Holden High School          83.803279          83.814988
Huang High School           76.629414          81.182722
Johnson High School         77.072464          80.966394
Pena High School            83.839917          84.044699
Rodriguez High School       76.842711          80.744686
Shelton High School         83.359455          83.725724
Thomas High School          83.418349          83.848930
Wilson High School          83.274201          83.989488
Wright High School          83.682222          83.955000

In [259]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete.loc[school_data_complete["math_score"] >69]
school_students_passing_math=students_passing_math.groupby(["school_name"]).size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [260]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >69]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
school_students_passing_reading

#students_passing_math = school_data_complete.loc[school_data_complete["math_score"] >69]
#school_students_passing_math=students_passing_math.groupby(["school_name"]).size()
#school_students_passing_math

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [261]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [262]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / total_student_count * 100
per_school_passing_reading = school_students_passing_reading / total_student_count * 100
overall_passing_rate = school_students_passing_math_and_reading / total_student_count * 100
overall_passing_rate

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [263]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type":school_types,
                                   "Total Students":total_student_count, 
                                   "Total School Budget":per_school_budget, 
                                   "Per Student Spending":per_school_capita,
                                   "Ave Math Score":per_school_math, 
                                   "Ave Reading Score":per_school_reading, 
                                   "% Passing Math":school_students_passing_math,
                                   "% Passing Reading":school_students_passing_reading,
                                   "% Overall Passing":overall_passing_rate})

# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Spending,Ave Math Score,Ave Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,15549641728,312492800.0,77.048432,81.033963,3318,4077,54.642283
Cabrera High School,Charter,1858,2009159448,108135600.0,83.061895,83.975780,1749,1803,91.334769
Figueroa High School,District,2949,5557128039,188441100.0,76.711767,81.158020,1946,2381,53.204476
Ford High School,District,2739,4831365924,176391600.0,77.102592,80.746258,1871,2172,54.289887
Griffin High School,Charter,1468,1346890000,91750000.0,83.351499,83.816757,1371,1426,90.599455
Hernandez High School,District,4635,14007062700,302202000.0,77.289752,80.934412,3094,3748,53.527508
Holden High School,Charter,427,105933149,24808700.0,83.803279,83.814988,395,411,89.227166
Huang High School,District,2917,5573322295,191063500.0,76.629414,81.182722,1916,2372,53.513884
Johnson High School,District,4761,14733628650,309465000.0,77.072464,80.966394,3145,3867,53.539172
Pena High School,Charter,962,563595396,58585800.0,83.839917,84.044699,910,923,90.540541
Rodriguez High School,District,3999,10186904637,254736300.0,76.842711,80.744686,2654,3208,52.988247
Shelton High School,Charter,1761,1860672600,105660000.0,83.359455,83.725724,1653,1688,89.892107
Thomas High School,Charter,1635,1705517550,104313000.0,83.418349,83.848930,1525,1591,90.948012
Wilson High School,Charter,2283,3012587442,131957400.0,83.274201,83.989488,2143,2204,90.582567
Wright High School,Charter,1800,1888920000,104940000.0,83.682222,83.955000,1680,1739,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [266]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values (["% Overall Passing"], ascending=False)

top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Spending,Ave Math Score,Ave Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,2009159448,108135600.0,83.061895,83.975780,1749,1803,91.334769
Thomas High School,Charter,1635,1705517550,104313000.0,83.418349,83.848930,1525,1591,90.948012
Griffin High School,Charter,1468,1346890000,91750000.0,83.351499,83.816757,1371,1426,90.599455
Wilson High School,Charter,2283,3012587442,131957400.0,83.274201,83.989488,2143,2204,90.582567
Pena High School,Charter,962,563595396,58585800.0,83.839917,84.044699,910,923,90.540541

## Bottom-Performing Schools (by % Overall Passing)

In [267]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values (["% Overall Passing"], ascending=True)

bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Spending,Ave Math Score,Ave Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,10186904637,254736300.0,76.842711,80.744686,2654,3208,52.988247
Figueroa High School,District,2949,5557128039,188441100.0,76.711767,81.158020,1946,2381,53.204476
Huang High School,District,2917,5573322295,191063500.0,76.629414,81.182722,1916,2372,53.513884
Hernandez High School,District,4635,14007062700,302202000.0,77.289752,80.934412,3094,3748,53.527508
Johnson High School,District,4761,14733628650,309465000.0,77.072464,80.966394,3145,3867,53.539172

## Math Score by Grade

In [269]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = student_data["math_score"]
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

SyntaxError: invalid syntax (1463251182.py, line 9)

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = 
tenth_grader_reading_scores = 
eleventh_grader_reading_scores = 
twelfth_grader_reading_scores = 

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

In [ ]:
Scores by School Size

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary